.dropdownIndicator {
  height: 24px;
  width: 32px;
}

.chevronRight {
  margin-right: -6;
}

.dropdownContainer {
  position: relative;
}

.blanket {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.menu {
  background-color: white;
  border-radius: 4;
  box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
  margin-top: 8;
  position: absolute;
  z-index: 2;
}
