button {
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.dropdownIndicator {
  height: 20px;
  width: 32px;
}

.dropdownIndicator svg {
  height: 20px;
  width: 20px;
}

.chevronRight {
  margin-right: -6;
}

.dropdownContainer {
  position: relative;

}

.blanket {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.menu {
  font-family: ArialMT;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10);
  border-radius: 2px;
  box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
  margin-top: 8;
  position: absolute;
  width: 230px;
  z-index: 2;
}